*{font-family: sans-serif;}

#content{
    display: flex;
    flex-direction: column;
}

#recipeImg{
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

#thumb{
    position: relative;
    display: block;
    max-width: 200px;

}
recipe{
    display: inline-block;
    border-style: dotted;
    max-width: 200px;
}

#recipeImg{
    max-width: 400px;
}

#details{
    max-width: 600px;
}